{% extends "base.html" %}

{% block content %}

<style>
    .list-group-item:not(:last-child) {
        border-bottom: none;
    }

    .custom-modal-width {
        max-width: 80%;
    }

    .list-group {
        margin: 0;
        padding: 0;
    }

    .list-group-item {
        margin: 0;
    }
</style>

<div class="container-fluid mt-5">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="personal-details-tab" data-toggle="tab" href="#personal-details" role="tab" aria-controls="personal-details" aria-selected="true">Personal Details</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="patients-list-tab" data-toggle="tab" href="#patients-list" role="tab" aria-controls="patients-list" aria-selected="false">Patients List</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="data-transfer-request-tab" data-toggle="tab" href="#data-transfer-request" role="tab" aria-controls="data-transfer-request" aria-selected="false">Patient Data Transfer Request Form</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="transfer-request-sent-tab" data-toggle="tab" href="#transfer-request-sent" role="tab" aria-controls="transfer-request-sent" aria-selected="false">Patient Data Transfer Request Sent</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="transfer-request-received-tab" data-toggle="tab" href="#transfer-request-received" role="tab" aria-controls="transfer-request-received" aria-selected="false">Patient Data Transfer Request Received</a>
        </li>
    </ul>

    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="personal-details" role="tabpanel" aria-labelledby="personal-details-tab">
            <ul class="list-group mt-3">
                <li class="list-group-item"><strong>First Name:</strong> {{ user_info.first_name }}</li>
                <li class="list-group-item"><strong>Last Name:</strong> {{ user_info.last_name }}</li>
                <li class="list-group-item"><strong>Email:</strong> {{ user_info.email_address }}</li>
                <li class="list-group-item"><strong>Role:</strong> {{ user_info.role }}</li>
                <li class="list-group-item"><strong>Years of Experience:</strong> {{ user_info.years_of_experience }}</li>
                <li class="list-group-item"><strong>Qualifications:</strong> {{ user_info.qualifications }}</li>
                <li class="list-group-item"><strong>Address:</strong> {{ user_info.house_number_post_box_number }}, {{ user_info.post_code }}, {{ user_info.country }}</li>
                {% if user_info.role == "Doctor"%}
                    <li class="list-group-item"><strong>Specialization:</strong> {{ user_info.specialization }}</li>
                    <li class="list-group-item"><strong>Consultation Hours:</strong> {{ user_info.consultation_hours }}</li>
                {% endif %}
            </ul>
        </div>

        <div class="tab-pane fade" id="patients-list" role="tabpanel" aria-labelledby="patients-list-tab">
            <div class="table-responsive mt-3">
                <table class="table table-bordered" id="patients-list-table">
                    <thead>
                        <tr>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Date Of Birth</th>
                            <th>Age</th>
                            <th>Gender</th>
                            <th>Address</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>                    
                </table>
            </div>
        </div>

        <div class="tab-pane fade" id="data-transfer-request" role="tabpanel" aria-labelledby="data-transfer-request-tab">
            <div class="mt-3">
                <form id="dataTransferForm">
                    <div class="form-group">
                        <label for="countrySelect">Select Country</label>
                        <select class="form-control" id="countrySelect" name="country">
                            <option value="" disabled selected>Select a country</option>
                            {% for country, providers in global_healthcare_providers_details.items() %}
                                <option value="{{ country }}">{{ country }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="providerSelect">Select Healthcare Provider</label>
                        <select class="form-control" id="providerSelect" name="healthcare_provider_id" disabled>
                            <option value="" disabled selected>Select a provider</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="firstNameInput">First Name</label>
                        <input type="text" class="form-control" id="firstNameInput" name="first_name" placeholder="Enter first name" required>
                    </div>
                    <div class="form-group">
                        <label for="lastNameInput">Last Name</label>
                        <input type="text" class="form-control" id="lastNameInput" name="last_name" placeholder="Enter last name" required>
                    </div>
                    <div class="form-group">
                        <label for="dobInput">Date of Birth</label>
                        <input type="date" class="form-control" id="dobInput" name="date_of_birth" required>
                    </div>
                    <div class="form-group">
                        <label for="houseNumberInput">House Number</label>
                        <input type="text" class="form-control" id="houseNumberInput" name="house_number" placeholder="Enter house number" required>
                    </div>
                    <div class="form-group">
                        <label for="postCodeInput">Post Code</label>
                        <input type="text" class="form-control" id="postCodeInput" name="post_code" placeholder="Enter post code" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Send Request</button>
                </form>
            </div>
        </div>

        <div class="tab-pane fade" id="transfer-request-sent" role="tabpanel" aria-labelledby="transfer-request-sent-tab">
            <div id="sent-requests-content"></div>
        </div>

        <div class="tab-pane fade" id="transfer-request-received" role="tabpanel" aria-labelledby="transfer-request-received-tab">
            <div id="received-requests-content"></div>
        </div>
        
    </div>
</div>

<!-- Modal Template -->
<div class="modal fade" id="patientDetailsModalTemplate" tabindex="-1" role="dialog" aria-labelledby="patientDetailsModalLabelTemplate" aria-hidden="true">
    <div class="modal-dialog custom-modal-width" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="patientDetailsModalLabelTemplate"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <ul class="list-group" id="patientDetailsListTemplate">
                </ul>

                <div class="table-responsive mt-3">
                    <table class="table table-bordered" id="consultationsTableTemplate">
                        <thead>
                            <tr>
                                <th>Consultation Date</th>
                                <th>Time</th>
                                <th>Doctor Name</th>
                                <th>Notes</th>
                                <th>Diagnosis</th>
                                <th>Procedure</th>
                                <th>Medication</th>
                                <th>Dosage</th>
                                <th>Instructions</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="responseModal" tabindex="-1" role="dialog" aria-labelledby="responseModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="responseModalLabel">Response</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="responseMessage"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<script>
    document.addEventListener('DOMContentLoaded', function () {
        var countrySelect = document.getElementById('countrySelect');
        var providerSelect = document.getElementById('providerSelect');
        var globalHealthcareProviders = {{ global_healthcare_providers_details | tojson }};
        var requestStatuses = {{ request_statuses | tojson }};

        countrySelect.addEventListener('change', function () {
            var selectedCountry = this.value;
            providerSelect.innerHTML = '';
            providerSelect.disabled = false;

            var defaultOption = document.createElement('option');
            defaultOption.text = 'Select a provider';
            defaultOption.disabled = true;
            defaultOption.selected = true;
            providerSelect.add(defaultOption);

            if (globalHealthcareProviders[selectedCountry]) {
                globalHealthcareProviders[selectedCountry].forEach(function (provider) {
                    var option = document.createElement('option');
                    option.text = provider.healthcare_provider_name;
                    option.value = provider.healthcare_provider_id;
                    providerSelect.add(option);
                });
            }
        });

        document.getElementById('dataTransferForm').addEventListener('submit', function (event) {
            event.preventDefault();

            var formData = new FormData(this);
            var data = {};
            formData.forEach((value, key) => data[key] = value);

            $.ajax({
                url: '/staff/data/patient/transfer/request/sent',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(data),
                success: function(result) {
                    var modalTitle = document.getElementById('responseModalLabel');
                    var modalBody = document.getElementById('responseMessage');

                    if (result.message) {
                        modalTitle.innerText = 'Success';
                        modalBody.innerHTML = `<div class="alert alert-success">${result.message}</div>`;
                    } else if (result.error) {
                        modalTitle.innerText = 'Error';
                        modalBody.innerHTML = `<div class="alert alert-danger">${result.error}</div>`;
                    }

                    $('#responseModal').modal('show');
                },
                error: function(jqXHR, textStatus, errorThrown) {
                    console.error('Error:', errorThrown);
                    var modalTitle = document.getElementById('responseModalLabel');
                    var modalBody = document.getElementById('responseMessage');

                    modalTitle.innerText = 'Error';
                    modalBody.innerHTML = `<div class="alert alert-danger">An unexpected error occurred. Please try again later.</div>`;

                    $('#responseModal').modal('show');
                }
            });
        });

        $('#patients-list-tab').on('click', function() {
            $('#patients-list-table tbody').html('');

            $.ajax({
                url: '/staff/home/patients/list',
                method: 'GET',
                cache: false,
                success: function(data) {
                    let content = '';
                    data.forEach((patient, index) => {
                        const modalId = `patientDetailsModal_${index}`;
                        content += `<tr data-toggle="modal" data-target="#${modalId}"><td>${patient.first_name}</td><td>${patient.last_name}</td><td>${patient.date_of_birth}</td><td>${patient.age}</td><td>${patient.gender}</td><td>${patient.house_number_post_box_number}, ${patient.post_code}, ${patient.country}</td></tr>`;
                        createModal(patient, modalId);
                    });
                    $('#patients-list-table tbody').html(content);
                },
                error: function() {
                    $('#patients-list-table tbody').html('<div class="alert alert-danger">Failed to load data.</div>');
                }
            });
        });

        $('#transfer-request-sent-tab').on('click', function() {
            $('#sent-requests-content').html('');

            $.ajax({
                url: '/staff/transfer/request/sent/list',
                method: 'GET',
                cache: false,
                success: function(data) {
                    let content = '<div class="table-responsive mt-3"><table class="table table-bordered"><thead><tr><th>Transfer ID</th><th>From Provider</th><th>To Provider</th><th>Patient Name</th><th>Date of Birth</th><th>Address</th><th>Status</th></tr></thead><tbody>';
                    data.forEach(request => {
                        content += `<tr><td>${request.transfer_request_id}</td><td>${request.from_provider_name}</td><td>${request.to_provider_name}</td><td>${request.patient_info.first_name} ${request.patient_info.last_name}</td><td>${request.patient_info.date_of_birth}</td><td>${request.patient_info.address.house_number}, ${request.patient_info.address.post_code}, ${request.patient_info.address.country}</td><td>${requestStatuses[request.request_status]}</td></tr>`;
                    });
                    content += '</tbody></table></div>';
                    $('#sent-requests-content').html(content);
                },
                error: function() {
                    $('#sent-requests-content').html('<div class="alert alert-danger">Failed to load data.</div>');
                }
            });
        });

        $('#transfer-request-received-tab').on('click', function() {
            $('#received-requests-content').html('');

            $.ajax({
                url: '/staff/transfer/request/received/list',
                method: 'GET',
                cache: false,
                success: function(data) {
                    let content = '<div class="table-responsive mt-3"><table class="table table-bordered"><thead><tr><th>Transfer ID</th><th>From Provider</th><th>To Provider</th><th>Patient Name</th><th>Date of Birth</th><th>Address</th><th>Status</th><th>Action</th></tr></thead><tbody>';
                    data.forEach(request => {
                        content += `<tr><td>${request.transfer_request_id}</td><td>${request.from_provider_name}</td><td>${request.to_provider_name}</td><td>${request.patient_info.first_name} ${request.patient_info.last_name}</td><td>${request.patient_info.date_of_birth}</td><td>${request.patient_info.address.house_number_post_box_number}, ${request.patient_info.address.post_code}, ${request.patient_info.address.country}</td><td>${requestStatuses[request.request_status]}</td>`;

                        if (request.request_status <= 2) {
                            content += `<td><button class="btn btn-primary" id="transfer-btn-${request.transfer_request_id}" onclick="transferData(${request.transfer_request_id})">Transfer Data</button></td>`;
                        } else {
                            content += `<td>Transfer Complete</td>`;
                        }

                        content += `</tr>`;
                    });
                    content += '</tbody></table></div>';
                    $('#received-requests-content').html(content);
                },
                error: function() {
                    $('#received-requests-content').html('<div class="alert alert-danger">Failed to load data.</div>');
                }
            });
        });
    });

    function createModal(patient, modalId) {
        let modalTemplate = document.getElementById('patientDetailsModalTemplate').cloneNode(true);
        modalTemplate.id = modalId;
        modalTemplate.querySelector('.modal-title').innerText = `Patient Medical Details - ${patient.first_name} ${patient.last_name}`;
        let detailsList = modalTemplate.querySelector('#patientDetailsListTemplate');
        detailsList.id = '';
        detailsList.innerHTML = `
            <li class="list-group-item"><strong>First Name:</strong> ${patient.first_name}</li>
            <li class="list-group-item"><strong>Last Name:</strong> ${patient.last_name}</li>
            <li class="list-group-item"><strong>Date Of Birth:</strong> ${patient.date_of_birth}</li>
            <li class="list-group-item"><strong>Age:</strong> ${patient.age}</li>
            <li class="list-group-item"><strong>Gender:</strong> ${patient.gender}</li>
            <li class="list-group-item"><strong>Address:</strong> ${patient.house_number_post_box_number}, ${patient.post_code}, ${patient.country}</li>
        `;
        let consultationsTable = modalTemplate.querySelector('#consultationsTableTemplate tbody');
        consultationsTable.id = '';
        if (patient.consultation.length > 0) {
            patient.consultation.forEach(consultation => {
                consultationsTable.innerHTML += `
                    <tr>
                        <td>${consultation.date}</td>
                        <td>${consultation.time}</td>
                        <td>${consultation.doctor_name}</td>
                        <td>${consultation.notes}</td>
                        <td>${getDiagnosis(patient.diagnosis, consultation.consultation_id)}</td>
                        <td>${getProcedure(patient.diagnosis, consultation.consultation_id)}</td>
                        <td>${getMedication(patient.medication, consultation.consultation_id)}</td>
                        <td>${getDosage(patient.medication, consultation.consultation_id)}</td>
                        <td>${getInstructions(patient.medication, consultation.consultation_id)}</td>
                    </tr>
                `;
            });
        } else {
            consultationsTable.innerHTML = '<div class="alert alert-info mt-3" role="alert">No consultations available.</div>';
        }
        document.body.appendChild(modalTemplate);
    }

    function getDiagnosis(diagnosis, consultationId) {
        return diagnosis.filter(d => d.consultation_id === consultationId).map(d => d.diagnosis).join('<br>');
    }

    function getProcedure(diagnosis, consultationId) {
        return diagnosis.filter(d => d.consultation_id === consultationId).map(d => d.procedure).join('<br>');
    }

    function getMedication(medication, consultationId) {
        return medication.filter(m => m.consultation_id === consultationId).map(m => m.name).join('<br>');
    }

    function getDosage(medication, consultationId) {
        return medication.filter(m => m.consultation_id === consultationId).map(m => m.dosage).join('<br>');
    }

    function getInstructions(medication, consultationId) {
        return medication.filter(m => m.consultation_id === consultationId).map(m => m.instructions).join('<br>');
    }

    window.transferData = function(transferRequestId) {
        var button = document.getElementById(`transfer-btn-${transferRequestId}`);
        button.disabled = true;
        button.textContent = 'Transferring...';

        $.ajax({
            url: `/staff/patient/data/transfer/send/${transferRequestId}`,
            method: 'GET',
            success: function(response) {
                button.textContent = 'Transfer Complete';
            },
            error: function(jqXHR, textStatus, errorThrown) {
                console.error('Error transferring data:', errorThrown);
                button.textContent = 'Transfer Failed';
            }
        });
    }
</script>

{% endblock %}
